@import "../base.css";

body {
  color: #000;
  background: #191;
}
a {
  color: #080;
}
#site-name a, #site-slogan a {
  color: #090;
}
#top-nav {
  color: #fff;
  border-color: #080;
  background: #191;
}
#primary, #secondary {
  border-color: #070;
}
.content-title {
  color: #0a0;
}
.calendar .day-today, .calendar .day-today a {
  background: #0a0;
  color: #fff;
}
.poll .bar .foreground {
  background: #292;
}
.comment {
  border: 1px solid #7b7;
}
.comment .picture {
  border: 1px solid;
}
#mission {
  background-color: #080;
}
#mission a {
  color: #4f4;
}
