@import "../base.css";

body {
  color: #000;
  background: #840;
}
a {
  color: #420;
}
#site-name a, #site-slogan a {
  color: #840;
}
#top-nav {
  color: #fff;
  border-color: #630;
  background: #840;
}
#primary, #secondary {
  border-color: #420
}
.content-title {
  color: #420;
}
.calendar .day-today, .calendar .day-today a {
  background: #420;
  color: #fff;
}
.poll .bar .foreground {
	background: #630;
}
.comment {
  border: 1px solid #975;
}
.comment .picture {
  border: 1px solid #ccc;
}
#mission {
  background-color: #630;
}
#mission a, #mission a:visited {
  color: #c96;
}
